body {
  font-family: cursive;
  background-color: #ABC3B0;
}

h1 {
  font-size: 115px;
  text-align: center;
}

ul {
  color: #4B1CB2;
  font-size: 100px;
  line-height: 20px;
}

h3 {
  font-family: serif;
  font-variant-caps: petite-caps;
}
