body {
  font-family: cursive;
  background-color: #D4D42C;
}

h1 {
  color: red;
  text-align: center;
}

ul {
  color: #4B1CB2;
  font-size: 100px;
  line-height: 20px;
}

h3 {
  font-variant-caps: petite-caps;
}
